body {
    background-color: black;
    height: 100%;
}
h1 {
    color: #fff;
    text-align: center;
}
.grid {
    
}

.grid {
    list-style: none;
    animation: appear 2s; 
    transform: scale(0,0);
    animation-fill-mode: forwards;
}

.grid-img {
    width: 100%;
    opacity: 0.5;
}
 
.grid:hover .grid-img { 
    opacity: 1;
    transform: scale(1.5);
    transition-duration: 1.5s;
    
}

.grid:hover {
    position: relative;
    z-index: 9998;
}

.title {
    opacity: 0;
    border-radius: 5px;
    background-color: #000;
    color: white;
    font-size: 1.75em;
    position: absolute; 
    top:100px; 
    width: 100%; 
    z-index:9999;
    text-align: center;
    display: none;
}

.grid:hover .title { 
    display: block;
    animation: titleAppear 2s;
}

@keyframes titleAppear {
    100% {
        transform: scale(1,1); 
    }
    from { opacity: 0; }
    to   { opacity: .8; }
}

@keyframes appear {
    100% {
        transform: scale(1,1); 
    }
    from { opacity: 0; }
    to   { opacity: 1; }
}
