<br />
<div class="container">
	<h1>Most popular movies</h1>
</div>
<br />
	<ul class="dynamic-grid" angular-grid="movies" grid-width="185" gutter-size="0" ag-id="gallery" refresh-on-img-load="true" ag-infinite-scroll="getMovies()" >
 		<li data-ng-repeat="m in movies" class="grid grow">
    		 <span class="title">{{m.title}}</span>
    		 <img ng-src="{{m.poster_url}}" class="grid-img" data-actual-width = "185px" data-actual-height="278px" />
 		</li>
	</ul>
	<div ng-show="movie">
		Sorry, something went wrong
	</div>

</div>
