<div id="movieController" ng-controller="MovieController">
<h1>Posters from Today's Most Popular Movies</h1>
<br />
<div id="movie_wrap">
	<div class="dynamic-grid" angular-grid="movies" ag-options="{gridWidth: 185, gutterSize: 0}">
		<div data-ng-repeat="m in movies" class="grid">
			 <span class="title">{{m.title}}</span>
			 <img ng-src="{{m.poster_url}}" class="grid-img" data-actual-width = "185px" data-actual-height="278px" />
		</div>
	</div>
</div>

<div ng-show="movieError">
	Sorry, something went wrong
</div>

<div class="loading-area" ng-hide="movieError">
	<img src="images/ellipsis.gif" />
</div>


    <script>
        $(window).scroll(function() {
        if($(window).scrollTop() + $(window).height() == $(document).height()) {
           angular.element('#movieController').scope().getMovies();
           angular.element('#movieController').scope().$apply() 
           }
        });
    </script>
</div>